Source: git-annex
Section: utils
Priority: optional
Build-Depends: 
	debhelper (>= 7.0.50),
	ghc,
	libghc-missingh-dev,
	ligghc-hslogger-dev,
	libghc-pcre-light-dev,
	libghc-sha-dev,
	libghc-dataenc-dev,
	libghc-utf8-string-dev,
	libghc-hs3-dev (>= 0.5.6),
	libghc-testpack-dev [any-i386 any-amd64],
	ikiwiki,
	perlmagick,
	git | git-core,
	uuid,
	rsync,
Maintainer: Joey Hess <joeyh@debian.org>
Standards-Version: 3.9.2
Vcs-Git: git://git.kitenet.net/git-annex
Homepage: http://git-annex.branchable.com/

Package: git-annex
Architecture: any
Section: utils
Depends: ${misc:Depends}, ${shlibs:Depends},
	git | git-core,
	uuid,
	rsync,
	openssh-client
Suggests: graphviz, bup, gnupg
Description: manage files with git, without checking their contents into git
 git-annex allows managing files with git, without checking the file
 contents into git. While that may seem paradoxical, it is useful when
 dealing with files larger than git can currently easily handle, whether due
 to limitations in memory, checksumming time, or disk space.
 .
 Even without file content tracking, being able to manage files with git,
 move files around and delete files with versioned directory trees, and use
 branches and distributed clones, are all very handy reasons to use git. And
 annexed files can co-exist in the same git repository with regularly
 versioned files, which is convenient for maintaining documents, Makefiles,
 etc that are associated with annexed files but that benefit from full
 revision control.
